.headerbar{
    display: flex;
}
.admin-action {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.admin-action  .admin-menu{
    display: flex;
    justify-content: center;
    padding: 1vh;
    margin-left: 2vh;
}