.profile-detailview {
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    border-radius: 15px;
    margin-top: 10px;
    padding: 10px;
    min-height: 400px;
}

.profile-container {
    display: flex;
}

.profile-container .profile-display-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.profile-container .profile-detailview-container {
    flex: 2;
}

.profile-container .profile-detailview-container .profile-footer {
    display: flex;
    justify-content: center;
}

.profile-container .profile-detailview-container .profile-footer .reset-btn {
    margin-right: 10px;
}