.profile-detailview {
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    border-radius: 15px;
    margin-top: 3vh;
    padding: 3vh;
    min-height: 70vh;
    position: relative;
}

.profile-footer {
    bottom: 5vh;
    position: absolute;
    left: calc(50% - 75px);
    width: 150px;
}

.profile-footer .reset-btn {
    margin-right: 3vh;
}