.profile-detailview {
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    border-radius: 15px;
    margin-top: 3vh;
    padding: 3vh;
    min-height: 70vh;
    position: relative;
}

.profile-container {
    display: flex;
}

.profile-container .profile-display-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.profile-container .profile-detailview-container {
    flex: 2;
}

.profile-container .profile-detailview-container .profile-footer {
    bottom: 5vh;
    position: absolute;
    left: calc(50% - 75px);
    width: 150px;
}

.profile-container .profile-detailview-container .profile-footer .reset-btn {
    margin-right: 3vh;
}